# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objetives:__
* List of popular languages in Data Science
* List of commonly used libraries in Data Science
* List of open source tools used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools |
|--------------------|
|MySQL               |
|Apache AirFlow      |
|Ceph                |

### Below are a few examples of evaluating arithmetic expressions in Python.

 This is a simple arithmetic expression to multiply, then add integers.

In [2]:
three=3
four=4
five=5
print((three*four)+five)

17

This code will convert 200 minutes to hours by diving by 60.

In [9]:
minutes=1 
hours=minutes/60
minutes=200
print(hours)

0.016666666666666666

## Author
Argyro Prokopou