# My Jupyter Notebook on IBM Watson Studio

__Argyro Prokopou__
teacher

_I am interested in data science, because I d like to turn my career into a new path, and because I really love maths._

### My code in the next cell should print the outcome of a mathematical operation (1+2).

In [2]:
one = 1
two = 2
print (1+2)

3

|Age    | Height     |
|-------|------------|
|30     |165         |
|25     |175         |


* Python
* Java
* R

1. Jupyter
2. R Studio
3. GitHub